.user-list {
  margin: 40px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 280px;
  max-width: 1280px;
  gap: 16px 24px;
}

@media (min-width: 768px) {
  .user-list {
    grid-template-columns: 280px 280px;
  }
}

@media (min-width: 1280px) {
  .user-list {
    grid-template-columns: 280px 280px 280px 280px;
  }
}
