<mat-card class="card">
  <mat-card-header>
    <mat-card-title
      ><h2>{{ user.name["first"] }}</h2></mat-card-title
    >
    <mat-card-subtitle
      ><h3>
        {{ user.name["last"] }}
      </h3></mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-md-image [src]="user.picture['large']" class="card-image"/>
  <mat-card-content>
    <p>Location: {{user.location.city}}, {{user.location.state}}</p>
  </mat-card-content>
  <mat-card-actions>
    <app-button mat-button text="Save" type="button" [onClick]="onClick"></app-button>
  </mat-card-actions>
</mat-card>
